/* 
  TODO:
    + fix image shift when active border
    + fix + - buttons padding on mobile
    + fix order button items centering on desktop
    - fix layout shift when clicking order button + -
    + fix padding on remove item buttons
    + fix space at active cart header
    + fix tree img
*/

:root {
  --red:     hsl(14, 86%, 42%);
  --green:   hsl(159, 69%, 38%);
  --rose50:  hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
  --rem-gray: rgb(203, 177, 169);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  min-height: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: var(--rose50);
  padding: clamp(1.5rem, 6vw, 4.5rem) 0;  
  font-family: 'red hat text';
  color: var(--rose900);
}

img {
  max-inline-size: 100%;
  align-self: center;
}

.dummy-h2 {
  display: none;
}

h3, .dessert-info p {       
  font-weight: 600;
}

.main-container {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.dessert {
  padding-bottom: 1.5em;
}

.img-inactive {
  background-size: cover;
  background-position: center;
  aspect-ratio: 16/10;
  border-radius: 7px;
}

.img-active {
  outline: solid 2px var(--red);
}

.waffle-img {
  background-image: url(assets/images/image-waffle-mobile.jpg);
}

.creme-img {
  background-image: url(assets/images/image-creme-brulee-mobile.jpg);
}

.macaron-img {
  background-image: url(assets/images/image-macaron-mobile.jpg);
}

.tiramisu-img {
  background-image: url(assets/images/image-tiramisu-mobile.jpg);
}

.baklava-img {
  background-image: url(assets/images/image-baklava-mobile.jpg);
}

.pie-img {
  background-image: url(assets/images/image-meringue-mobile.jpg);
}

.cake-img {
  background-image: url(assets/images/image-cake-mobile.jpg);
}

.brownie-img {
  background-image: url(assets/images/image-brownie-mobile.jpg);
}

.panna-img {
  background-image: url(assets/images/image-panna-cotta-mobile.jpg);
}

.inactive {
    display: flex;
    place-content: center;
    gap: 7px;
    padding: 0.5em 0;
    border: 1.5px solid var(--rose300);
    width: 60%;  
    border-radius: 50px;
    margin: 0 auto;
    font-size: 0.72rem;  
    background-color: white;
    transform: translateY(-50%);
    height: 37.5px;
}

.active {
  background-color: var(--red);
  border: none;
  justify-content: space-evenly;
  align-items: center;
  cursor: initial;
  transition: ease-in-out .2s;
}

.inactive:hover {
  cursor: pointer;
  border-color: var(--red);
  color: var(--red);
}

.no-hover:hover {
  cursor: default;
}


h3 {
  padding-top: 0.1em;
}

.dec-quant, .inc-quant {
  width: 15px;
  height: 15px;
  padding: 0.2em;
  border: 1.5px solid white;
  display: flex;
  place-content: center;
  border-radius: 50%;
  transition: ease-in-out .2s;
}

.dec-quant:hover,
.inc-quant:hover {
  background-color: white;
  border-color: white;
  cursor: pointer;
}

.dec-quant:hover .order-img,
.inc-quant:hover .order-img {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(26%) 
    sepia(78%) 
    saturate(2104%) 
    hue-rotate(357deg) 
    brightness(89%) 
    contrast(93%);
}

.ol-container {
  display: flex;
}

.order-label {
  margin-left: 2em;
  margin-right: 2em;
  color: white;
  font-weight: 700;
}

.order-img {
  width: 100%;
  height: 100%;
  stroke-width: 5px;
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(100%) 
    sepia(0%) 
    saturate(0%) 
    hue-rotate(273deg) 
    brightness(103%) 
    contrast(103%);
}

.dessert-info p {
  margin-bottom: 0.24em;
}

.type {
  color: var(--rose300);
  font-size: 0.87rem;
}

.price, .cart-header, .cart-items {
  color: var(--red);
}

.cart-msg {
  font-weight: 600;
  color: var(--rose500);
}

.cart {
  background-color: white;
  padding: 1.5em;
  border-radius: 10px;
  height: fit-content;
}

.cart-header {
  display: flex;
  margin-bottom: 0.5em;
}

.empty-cart-img {
  display: flex;
  justify-content: center;
  padding: 1.5em 0 1em;
}

.cart-msg {
  font-size: 0.8rem;  /* clamp */
  text-align: center;
}

/* CART WITH ITEMS */

.item {
  display: flex;
  border-bottom: 1.5px solid var(--rose100);
  padding-top: 1em;
}

.item-figs {
  display: flex;
  gap: 1.1em;
  padding: 0.5em 0 0.9em;
  font-size: clamp(0.9rem, 4vw, 1rem);
}

.item-name,
.ot-label-1,
.carbon-msg,
.item-price,
.item-total {
  color: var(--rose500);
}

.item-name,
.ot-label-1,
.cot-label-1 {
  font-size: clamp(0.8rem, 4vw, 1rem);
}

.item-quantity {
  color: var(--red);
  font-weight: 600;
}

.item-price {
  font-weight: 300;
}

.item-total {
  font-weight: 600;
}

.remove-item {
  margin-left: auto;
  align-self: center;
  width: clamp(15px, 4vw, 16.5px);
  height: clamp(15px, 4vw, 16.5px);
  transform: translateY(-50%);
}

.remove-icon {
  width: 100%;
  height: 100%;
  border: 1.5px solid var(--rem-gray);
  border-radius: 50%;
  padding: 0.12em;   
  transition: ease-in-out 0.3s
}

.remove-item:hover {
  cursor: pointer;
}

.remove-item:hover .remove-icon {
  filter: 
    brightness(0) 
    saturate(100%) 
    invert(8%) 
    sepia(35%) 
    saturate(503%) 
    hue-rotate(330deg) 
    brightness(96%) 
    contrast(103%);
}

.order-total,
.confirmed-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em 0;
}

.ot-label-1,
.cot-label-1 {
  color: var(--rose900);
}

.ot-label-2,
.cot-label-2 {
  color: var(--rose900);
  font-weight: 700;
  font-size: clamp(1.2rem, 5vw, 1.7rem);
}

.carbon-free {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  background-color: var(--rose100);
  border-radius: 5px;
  padding: 1em;
  font-size: clamp(0.68rem, 3vw, 0.9rem);
}

.tree {
  height: fit-content;
  width: fit-content;
}

.tree-img {
  inline-size: clamp(80%, 5vw, 100%);
}

.carbon-msg {
  align-self: center;
}

.confirm-order,
.new-order {
  margin-top: 1.5em;
  font-family: inherit;
  font-weight: 600;
  background-color: var(--red);
  width: 100%;
  height: 40px;
  color: var(--rose100);
  border: none;
  border-radius: 50px;
}

.confirm-order:hover,
.new-order:hover {
  cursor: pointer;
}

/* MODAL */

.order-modal {
  position: absolute;
  top: 10%; 
  left: 50%;
  transform: translateX(-50%); 
  background: white;
  padding: 2em 1.5em 1.5em;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  overflow-y: auto; 
  z-index: 2;
  display: none;
}

.order-modal p {
  color: var(--rose300);
  padding-bottom: 2em;
}

.order-list,
.confirmed-total {
  background-color: var(--rose50);
  padding: 0.5em 1.5em;
  border-radius: 7px;
}

.confirmed-item {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 1fr;
  gap: 0.5em;
  padding: 1em 0 0.5em;
}

.confirmed-item-name {
  padding-bottom: 0.5em;
  font-size: clamp(0.8rem, 3vw, 1rem);
}

.confirmed-item-figs {
  display: flex;
  gap: 1em;
}

.confirmed-item-quant,
.confirmed-item-price {
  font-size: clamp(0.87rem, 4vw, 1rem);
}

.confirmed-item-total {
  align-self: center;
  font-size: clamp(0.9rem, 3vw, 1.1rem);
}

.total-container {
  display: flex;
}

.item-thumb {
  height: fit-content;
}

.item-img {
  border-radius: 4px;
  min-width: 50px;
  height: 50px;
  flex: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 2%, 12%, 0.70);
  display: none; 
  z-index: 1;
}


@media screen and (min-width:800px) {
  .main-container {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 2em;
  }
  .desserts {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 1.2em;
  }
  .dec-quant, .inc-quant {
    padding: 0.1em;
  }
  .dessert-img {
    aspect-ratio: 1;
  }
  .waffle-img {
    background-image: url(assets/images/image-waffle-tablet.jpg);
  }
  
  .creme-img {
    background-image: url(assets/images/image-creme-brulee-tablet.jpg);
  }
  
  .macaron-img {
    background-image: url(assets/images/image-macaron-tablet.jpg);
  }
  
  .tiramisu-img {
    background-image: url(assets/images/image-tiramisu-tablet.jpg);
  }
  
  .baklava-img {
    background-image: url(assets/images/image-baklava-tablet.jpg);
  }
  
  .pie-img {
    background-image: url(assets/images/image-meringue-tablet.jpg);
  }
  
  .cake-img {
    background-image: url(assets/images/image-cake-tablet.jpg);
  }
  
  .brownie-img {
    background-image: url(assets/images/image-brownie-tablet.jpg);
  }
  
  .panna-img {
    background-image: url(assets/images/image-panna-cotta-tablet.jpg);
  }
  
  .add-button {
    gap: 0;
    padding: 0.6em 0 0.4em; 
    width: 85%;  
    font-size: 0.6rem;  
    height: 31.9px
  }
  .add-button img {
    inline-size: 85%;
  }
  .remove-icon {
    padding: 0.15em;
  }
  .carbon-free {
    gap: 0.5em;
  }
}

@media screen and (min-width: 1100px) {
  .waffle-img {
    background-image: url(assets/images/image-waffle-desktop.jpg);
  }
  
  .creme-img {
    background-image: url(assets/images/image-creme-brulee-desktop.jpg);
  }
  
  .macaron-img {
    background-image: url(assets/images/image-macaron-desktop.jpg);
  }
  
  .tiramisu-img {
    background-image: url(assets/images/image-tiramisu-desktop.jpg);
  }
  
  .baklava-img {
    background-image: url(assets/images/image-baklava-desktop.jpg);
  }
  
  .pie-img {
    background-image: url(assets/images/image-meringue-desktop.jpg);
  }
  
  .cake-img {
    background-image: url(assets/images/image-cake-desktop.jpg);
  }
  
  .brownie-img {
    background-image: url(assets/images/image-brownie-desktop.jpg);
  }
  
  .panna-img {
    background-image: url(assets/images/image-panna-cotta-desktop.jpg);
  }

  .add-button {
    gap: 4px;
    padding: 0.7em 0 0.5em;
    width: 60%;
    font-size: 0.67rem;
    height: 35.8px;
  }
  .active {
    padding: 0.5em 0;
  }
  h3 {
    padding: 0;
  }
}